html, body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: purple;
}
.pimg1{
    background-image: url(https://images3.alphacoders.com/600/thumb-1920-600155.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;
    font-size: 30px;
    color: wheat;
    /* border: 2px black solid; */
}
.textBg{
    background-color: black;
}
.section{
    text-align: center;
    padding:30px 20px;
}
.section-light{
    background-color: #cbd0d4;
    color: #2b2929;
}
.pimg2{
    background-image: url(https://wallpaperaccess.com/full/3514520.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ptext2{
    position: absolute;
    top: 180%;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;
    font-size: 30px;
    color: wheat;
    /* border: 2px black solid; */
}