*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #162c2a;
    justify-content: center;
    align-items: center;
}

canvas{
    height: 600px;
    width: 300px;
    background-color: #fff;
}
.arrows{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.arrow , #start{
    width: 30px;
    margin: 2px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 600;
    border: none;

}
#start{
    width: 70px;
}